.content-gz .el-dialog {
    height: 100%;
    padding-bottom: 10px;
    width: 1080px;
    min-height: 600px;
}

.gz-line {
    width: 100%;
    height: auto;
}

.stage-dialog-4 .gz-line .gz-title {
    width: 120px;
    display: inline-block;
    margin-left: 24px;
}

.stage-dialog-4 .gz-line .gz-address input {
    height: 28px;
    line-height: 24px;
    text-indent: 4px;
    font-size: 14px;
    width: 250px;
    background: #ffffff;
}

.stage-dialog-4 .view-input .sub_title {
    width: 360px;
    height: 30px;
    margin: 30px auto 0;
    text-align: center;
    font-size: 14px;
    color: #48676a;
    border-bottom: 1px #6e7b8b solid;
}

.stage-dialog-4 .view-input .sub_line {
    width: 115px;
    height: 29px;
    margin: 0 auto;
    display: inline-block;
    border-bottom: 2px #48576a solid;
}

.gz-line input {
    height: 28px;
    line-height: 24px;
    text-indent: 4px;
    font-size: 14px;
    width: 200px;
    background: #ffffff;
}

.stage-dialog-4 .refuseReason {
    width: 670px;
    padding: 0 10px;
    display: inline-flex;
}

.edit-icon {
    margin-right: 4px;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url(../../../../theme/default/images/edit.png) no-repeat;
}

.appoint-icon {
    margin-right: 4px;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url(../../../../theme/default/images/appoint.png) no-repeat;
}

.info-icon {
    margin-right: 4px;
    margin-left: 10px;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url(../../../../theme/default/images/info.png) no-repeat;
}

.gz-data-box {
    width: 98%;
    height: auto;
    margin: 0 auto;
    overflow-x: auto;
}

.gz-top-more {
    width: 100%;
    height: 48px;
    display: none;
    position: absolute;
    top: 76px;
    left: 0;
    background: #fff;
}

.gz-top-more ul {
    width: 960px;
    height: 48px;
    margin-left: 190px;
}

.gz-top-more ul li {
    float: left;
    width: auto;
    height: 48px;
}

.gz-top-more ul li span {
    float: left;
    line-height: 48px;
}

.gz-top-more ul li input {
    margin-top: 10px;
}

.content-gz div li {
    font-family: "微软雅黑";
}

.content-gz {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding-top: 0;
    font-size: 12px;
}

.gz-top {
    width: 100%;
    height: 76px;
    z-index: 997;
    box-sizing: border-box;
    background: #fff;
}

.gz-bottom {
    width: 100%;
    height: auto;
    margin-top: 0;
}

.gz-top .gz-top-ul {
    width: 850px;
    height: 100%;
    float: left;
}

.gz-top .gz-top-ul li {
    width: auto;
    float: left;
    height: 76px;
    font-size: 14px;
    line-height: 76px;
}

.gz-top li span {
    float: left;
    width: auto;
    margin-left: 20px;
}

.gz-top li input {
    width: 150px;
    height: 28px;
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    border: 1px solid #ccc;
    text-indent: 4px;
}

.gz-top-more-btn {
    width: 40px;
    height: 76px;
    line-height: 76px;
    float: left;
    margin-left: 16px;
    font-size: 12px;
    color: #666;
    background: url(../../../../theme/default/images/tiggle.png) no-repeat;
    background-size: 9px 6px;
    background-position: 26px center;
    cursor: pointer;
}

.el-table {
    font-size: 12px;
}

.dblb-btn {
    width: 80px;
    height: 28px;
    float: left;
    margin-left: 16px;
    margin-top: 26px;
    background: #315b84;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    border: 0;
}

.dblb-btn:hover {
    background: #3c6a9b;
}

.content-gz .el-pagination {
    margin-bottom: 28px;
    /*box-sizing: border-box;
    padding-left: 50%;*/
    display: flex;
    justify-content: flex-end;
}

/*弹框*/

.custom-table {
    width: 1079px;
    height: 890px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-gz .el-dialog__wrapper {
    width: 1079px;
    /*height: 100%;*/
    position: absolute;
    left: auto;
    overflow: hidden;
}

.custom-table .showself {
    display: block !important;
}

.custom-table .el-dialog__header {
    padding: 0;
}

.custom-table .el-dialog__body {
    padding: 0;
}

.custom-table .title {
    width: 100%;
    height: 27px;
    background: -webkit-linear-gradient(left, rgba(252, 81, 31, 0.7) 0%, rgba(252, 81, 31, 0.1) 100%);
    line-height: 27px;
    color: #ffffff;
}

.custom-table .icon {
    margin-left: 20px;
    padding-left: 20px;
    background: url("../../../../theme/default/images/jpy-white.png") 0 1px no-repeat;
}

.content-gz .edit-main {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1001;
    background: #fff;
    box-sizing: border-box;
    padding: 0 14px 28px 14px;
}

.content-gz .close-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    background: #ccc url(../../../../theme/default/images/nav/close.png) no-repeat center;
    background-size: 12px 12px;
    cursor: pointer;
}

.content-gz .check-status-ul {
    width: 100%;
    height: 98px;
    float: left;
    box-sizing: border-box;
    padding: 20px 0 0 10px;
    display: flex;
    justify-content: center;
}

.content-gz .check-status {
    width: 64px;
    height: 98px;
    float: left;
    position: relative;
}

.content-gz .check-status:not(:last-child):before {
    content: "------------";
    display: inline-block;
    position: absolute;
    top: 13px;
    right: -80px;
}

.content-gz .check-status:not(:first-child) {
    margin-left: 78px;
}

.content-gz .check-status span {
    margin: 0 auto;
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 18px;
    color: #fff;
    background: #ccc;
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    font-family: "times new roman";
}

.content-gz .check-status.through span {
    background: #fc511f url(../../../../theme/default/images/nav/duigou.png) no-repeat center;
}

.content-gz .check-status p {
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}

.custom-table .bg {
    margin: 0 auto;
    width: 1051px;
    height: 100%;
    background: #ffffff;
}

/*表格的样式*/
.custom-table .table {
    margin: 0 auto;
    text-align: center;
}

.custom-table .table tr {
    height: 34px;
}

.stage-dialog-4 .custom-table .table {
    border-right: 1px solid rgb(223, 230, 236);
    border-bottom: 1px solid rgb(223, 230, 236)
}

.stage-dialog-4 .custom-table .table td {
    border-left: 1px solid rgb(223, 230, 236);
    border-top: 1px solid rgb(223, 230, 236)
}

.custom-table .table tr td:nth-child(1) {
    background: rgb(238, 241, 246);
}

.custom-table .table .insert-info {
    width: 100%;
    height: 32px;
    border: none;
    margin: 0px;
    text-indent: 4px;
    background: #ffffff;
    outline: none;
    font-size: 14px;
}

.custom-table .table .special {
    background: rgb(238, 241, 246);
    color: #333333;
    font-weight: 500;
}

/*.custom-table .table tr td {*/
/*border: solid 0.5px #d6d6d6;*/
/*}*/

.custom-table .down-load {
    margin: 0 auto;
    width: 896px;
    height: 33px;
}

.custom-table .down-load span a:hover {
    cursor: pointer;
    color: #07f !important;
    border-bottom: 1px solid #07f !important;
}

.custom-table .small-tip {
    width: 129px;
    height: 40px;
    position: absolute;
    right: 0px;
    cursor: pointer;
    line-height: 40px;
    color: #ffffff;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.custom-table .previes-gz {
    margin: 27px auto;
    margin-top: 27px;
    width: 901px;
    height: 672px;
    background: #fff8f6;
    position: relative;
    padding: 20px 75px;
    display: none;
}

.custom-table .arrow-up {
    position: absolute;
    top: -20px;
    left: 334px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff8f6;
}

.custom-table .previes-table {
    padding-left: 20px;
    background: url("../../../../theme/default/images/jpy.png") 0 3px no-repeat;
}

/*.custom-table .el-table .cell{*/
/*padding:0;*/
/*}*/

.custom-table .footer {
    width: 606px;
    height: 58px;
    background: #ffffff;
    border: 1px solid rgb(223, 230, 236);
    border-top: none;
    padding: 8px;
    font-size: 14px;
}

.stage-dialog-4 .must-input {
    position: relative;
}

.stage-dialog-4 .must-input:before {
    content: "*";
    color: #f31313;
    font-size: 19px;
    position: absolute;
    left: -14px;
    top: 0px;

}

.stage-dialog-4 .must-input1 {
    position: relative;
}

.stage-dialog-4 .must-input1:before {
    content: "*";
    color: #f31313;
    font-size: 19px;
    position: absolute;
    left: 9px;
    top: 9px;

}

.stage-dialog-4 .up-load .up-load-bg {
    display: inline-block;
    height: 28px;
    margin-top: 3px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    background: #20a0ff;
    width: 80px;
    position: relative;
    width: 98px;
    height: 33px;
    border-radius: 4px;
    line-height: 33px;
}

.stage-dialog-4 .up-load, .up-load div {
    float: left;
    height: 45px;
    width: 100%;
}

.stage-dialog-4 .up-load div:first-child {
    width: 165px;
}

.stage-dialog-4 .up-load-content {
    margin: 20px 0 0 90px;
    display: inline-block;
}

.stage-dialog-4 .up-load-selected {
    width: 700px;
    margin-left: 255px;
    display: none;
    margin-bottom: 20px;
}
.stage-dialog-4 .up-load-selected span {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("../../images/nav/delete-upload.png") no-repeat right center;
    vertical-align: middle;
    margin-left: 10px;
}
.stage-dialog-4 .my-slider .area {
    width: 120px;
    height: 80px;
    margin-left: 5px;
    background-color: #fff;
    float: left;
}





.content-gz .big-img-content {
    width: 500px;
    height: 400px;
    background-color: #aaa;
    position: fixed;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999999;
    overflow: hidden;
}

.content-gz .big-img-content .title-img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(72, 87, 106) url(../../images/nav/close.png) no-repeat center;
    background-size: 12px 12px;
    cursor: pointer;
    z-index: 99999;
}
.content-gz .el-icon-plus:before,
.content-gz .el-icon-minus:before{
    color:#fff;
}
.content-gz .big-img-content img {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
}

